h1{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
}

.list {
     font-family: Arial;
}

.list > li:first-child {
     color: rgba(255, 0, 106, 0.76);
     font-weight: 900;
}

.list > li:last-child {
     color: rgb(35, 196, 35);
     font-style: oblique;
     font-weight: 500;
}